In [1]:
import pandas as pd 
import numpy as np 
import requests

In [3]:
conda install -c anaconda beautifulsoup4

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.3

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    soupsieve-2.0              |             py_0          33 KB  anaconda
    openssl-1.1.1              |       h7b6447c_0         5.0 MB  anaconda
    certifi-2019.11.28         |           py36_1         157 KB  anaconda
    beautifulsoup4-4.8.2       |           py36_0         161 KB  anaconda
    ------------------------------------------------------------
                                           Total:         5.4 MB

The following NEW packages will be INSTALLED:

    soupsieve:      2.0-py_0          anaconda

The following packages will be UPDATED:

    beautifulsoup4: 4.6.3-py37_0                  --> 4.8.2-py36_0      anaconda
    certifi:        2019.11.28-py36_0 conda-forge --> 2019.11.28-py36_1 anaconda
    openssl:        1.1.1d-h516909a_0 conda-forge --> 1.1.1-h7b6447c_0  anaconda


Downloading and Extracting Packages
soupsieve-2.0        | 33 KB     | ##################################### | 100%
openssl-1.1.1        | 5.0 MB    | ##################################### | 100%
certifi-2019.11.28   | 157 KB    | ##################################### | 100%
beautifulsoup4-4.8.2 | 161 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [13]:
from bs4 import BeautifulSoup

In [34]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_html = requests.get(url).text
soup = BeautifulSoup(wiki_html, 'html.parser')

data = []
for tr in soup.tbody.find_all('tr'):
    data.append([ td.get_text().strip() for td in tr.find_all('td')])

# Create DataFrame

In [46]:
df=pd.DataFrame(data,columns=['PostalCode','Borough','Neighborhood'])
df = df.replace(r"\n","", regex=True)
df.head()

  PostalCode       Borough      Neighborhood
0       None          None              None
1        M1A  Not assigned
2        M2A  Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

# Remove cells with a borough that is Not assigned

In [47]:
df1 = df[df.Borough != 'Not assigned']
df1.head()

  PostalCode           Borough                       Neighborhood
0       None              None                               None
3        M3A        North York                          Parkwoods
4        M4A        North York                   Victoria Village
5        M5A  Downtown Toronto         Regent Park / Harbourfront
6        M6A        North York  Lawrence Manor / Lawrence Heights

# Combine same postcode neighborhoods

In [48]:
df2 = df1.groupby(['PostalCode', 'Borough'], sort = False).agg(','.join)
df2.reset_index(inplace = True)
df2.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [50]:
df3 = df2.replace("Not assigned", "Queen's Park")
df3.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# The Shape of Dataframe¶

In [51]:
df3.shape

(103, 3)